*{
    box-sizing: border-box;

    margin: 0;
}

.container{
    display: grid;
    grid-template-columns:repeat(12, 1fr) ;
    grid-template-rows: 210px 10vh calc(100vh - (210px + 20vh)) 10vh;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

header{
    grid-column: span 12;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/18/13/05/ecommerce-3546296__340.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

nav{
    grid-column: span 12 ;
    background-color: rgb(112, 196, 248);
}

aside{
    grid-column: span 3 ;
    background-color: lightyellow;
}
main{
    grid-column: span 9 ;
    background-color: rgb(245, 79, 50);
}

footer{
    grid-column: span 12 ;
    background-color: turquoise;
}