
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

.header{
    padding: 1rem;
    height: 10vh;
    align-items: center;
    background-color: dimgray;
    border-bottom: 2.5px solid rgb(161, 13, 33);
    /* header in altına çizgi verdik */
    justify-content: content;
    
}
a{
    text-decoration: none;
}

.header__h2{
    padding: 1rem;
    height: 0.5rem;
   color: white;
}

.header__h2--span{
    color:rgb(161, 13, 33);
    /* clarusway yazısına renk verdik */
}

.header__list{
    text-align:right;
    /* sağa yasladık */

}

.header__item{
    display: inline;
    /* yanyana aldık */
    padding: 1rem;
    /* araları açtık */
    
   
   
}
.header__link{
    font-size: 1rem;
    font-weight: 500;
    transition: all 1s;
    /* üzerine gelince renk değişme süresi */
    color: white;
    
}

.header__link:hover{
    color: red;
    /* üzerine gelince renk kırmızı oluyor */
}

.container{
   background-image: url(./images/showcase.jpg);
   /* resmi ana sayfaya getirdik */
   /* yazılar üzerinde yazılı oldu aynı div içinde oldukları için */
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size:cover;
    /* resmi uzaklaştırıp ortaladık */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container__img{
    /* border: 2px solid red; */
    color: white;
    text-align: center;
    font-weight: 700;
    /* harfleri dolgunlaştırdık */
    


}

.container1{
    background-color: gray;
    
    color: white;
    width: 100%;
    height: 7rem;
    margin: 0;
    padding: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
    /* yazı fontunu büyütür */
}

.container1 h2{
    /* padding: 1rem; */
}

.container1 form{
    text-align: right;
    /* height: 2rem; */
}

.container2{
   width: 100%;
   /* background-color: white; */
   text-align: center;
   display:flex;
   /* background-color: aqua; */
   /* border: 2px solid red; */
   font-size: 1.5rem;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container2__html{
   text-align:center;
   padding: 1rem;
 background-color: aqua;
   /* height: 2rem; */
  
}

.container2__css{
    background-color: aquamarine;
}
.container2__grap{
background-color: cyan;
}

.footer{
    width: 100%;
    height: 10vh;
    padding: 1.5rem;
    background-color: darkslategray;
    text-align: center;
    font-size: 1rem;
    border: 5px;
}