.navbar {
    background-color: cadetblue;
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
}

#warning {
    background-color: lightcoral;
    color: aliceblue;
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}

#success {
    background-color: darkseagreen ;
    color:rgb(231, 200, 158);
    margin: auto;
    width: 40%;
    height: 30%;
    text-align: center;
}