/* h1 {
    text-align: center;
} */

.yazi {
    text-align: center;
    font-size: 2rem;
    width: 50vw;
    margin: 2rem auto;
}


/* *********** ROTATE *********** */

.yazi1 {
    background-color: aqua;
    /* kelimeyi ters çevirmek için kullanılır */
    transform: rotateX(180deg);
}

.yazi2 {
    background-color: hotpink;
    transform: rotateY(180deg);
}

.yazi3 {
    background-color: tomato;
    /* transform: rotate(45deg); */
    transform: rotate(10deg);
}


/* ************** SCALE *************** */

.yazi4 {
    background-color: violet;
}

.yazi4:hover {
    transform: scaleX(2) scaleY(3);
    /* yazıyı X ve Y ekseninde büyütür */
}

.yazi5 {
    background-color: yellowgreen;
}

.yazi5:hover {
    /* transform: scale(2, 3); */
    /* yazıyı kısa yoldan 4 e göre X ve Y ekseninde büyütür. */
    transform: scale(2, 3);
    /* eksen yazmayınca her iki eksenide alır ona göre büyütür. tek değer verilirse ikisinide aynı oranda büyütür. */
    transform: scale(1.05);
    /* her iki eksenide %5 oranında büyütür. */
}


/* ************** TRANSLATE ***************** */

.translate {
    background-color: lightcoral;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: white;
    transition: transform 1.5s;
}

.x:hover {
    transform: translateX(50px);
}

.y:hover {
    transform: translateY(50px);
}

.xy:hover {
    transform: translate(50px, 50px);
}

.transition-div {
    text-align: center;
}

.transition-btn {
    width: 5rem;
    padding: 1rem;
    background-color: rgb(135, 236, 135);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    /* transition: backgraund-color 1s, color 0.5s; */
    transition: all 0.5s;
    /* tüm property'leri kullanmak için all kelimesi kullanılır. */
}

.transition-btn:hover {
    background-color: rgb(2, 107, 2);
    color: white;
}