.counter-header {
  margin-bottom: 0;
}

.counter-neg {
  color: rgb(248, 9, 9);
}
.counter-pos {
  color: rgb(3, 128, 3);
}

.counter-zero {
  color: rgb(247, 239, 239);
}

.counter-button {
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
}

.positive {
  background-color: rgb(4, 129, 4);
  color: white;
}

.negative {
  background-color: rgb(247, 8, 8);
  color: white;
}
