* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(#df5a32, #2cadb6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  max-width: 650px;
  height: 85vh;
  border-radius: 40px;
  box-shadow: 2px 2px 20px rgba(87, 14, 14, 0.911);
  text-shadow: 2px;
  background-color: rgb(162, 163, 87);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 2rem;
  color: rgb(43, 41, 41);
  text-shadow: 3px 5px 10px rgb(24, 22, 22);
  text-align: center;
  padding: 1rem;
}

.todo-add {
  width: 90%;
  display: flex;
  margin-top: 2rem;
  font-size: 0.7rem;
}

#todo-input {
  width: 80%;
  margin-right: 12px;
  border-color: #fff;
  border-radius: 8px;
  outline: none;
  padding: 0.5rem;
}

#todo-button {
  width: 20%;
  padding: 0.7rem;
  background-color: #910b0b;
  color: rgb(245, 241, 241);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
}

#todo-button:hover {
  opacity: 0.4;
}

.todos {
  width: 90%;
  margin-top: 3rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.todos ul {
  list-style: none;
}

ul li {
  background-color: rgb(236, 220, 220);
  color: rgb(46, 43, 43);
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

ul li:nth-child(even) {
  background: #e9f0fc;
}

li i {
  padding: 1rem;
  color: #db1b1b;
  cursor: pointer;
}

li i:hover {
  opacity: 0.4;
}

li p {
  flex: auto;
  padding: 0.3rem;
}

li.checked>.fa-check {
  color: #05c468;
}

li.checked>p {
  color: rgb(41, 41, 41);
  text-decoration: line-through;
  font-weight: normal;
}

@media screen and (max-width: 576px) {
  li p {
    font-size: 0.9rem;
  }
}